.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    flex-direction: column;
  }
  .generic-row {
    font-size: 20px;
    padding: 5px;
  }
  
  .label {
    display: flex;
    font-weight: bold;
    margin-right: 10px;
  }
  .button {
    background-color: #0473eb;
    color: #f8f9fa;
    border: 1px solid #0473eb;
    border-radius: 3px;
  }
  .button:hover {
    background: #619ad8;
    color: #ffffff;
    border: 1px solid #619ad8;
    border-radius: 3px;
  }
 .error-message{
   color: #f80b0b;
 }