.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  flex-direction: column;
  background-image: url("../../asset/image/cafe.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #4a2104;
}
.generic-row {
  font-size: 20px;
  padding-top:20px;
}

.label {
  display: flex;
  align-items: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}
.input_box {
  background: #ffffff;
  border-radius: 12px;
  border: 1px solid #ffffff;
  outline: none;
  margin-left: 5px;
}

.button:hover {
  background: #619ad8;
  color: #ffffff;
  border: 1px solid #619ad8;
  border-radius: 3px;
}
.error-message {
  color: #f80b0b;
  margin-top: 2px;
  margin-left: 10px;
}
.wrapper {
  border: 1px solid #ffffff;
  padding: 55px 85px;
  position: relative;
  /* filter: blur(5px); */
  background-size: cover;
  opacity: 0.8;
  background: linear-gradient(
    134.71deg,
    rgba(235, 232, 232, 0.6) 0%,
    rgba(235, 232, 232, 0.05) 100.51%
  );
  backdrop-filter: blur(10px);
  border-radius: 50px;
}
.submit {
  background: linear-gradient(90deg, #de6262 0%, #ffb88c 100%);
  border-radius: 16px;
  width: -webkit-fill-available;
  padding: 10px;
  font-weight: bold;
}
.submit:hover{
  background: linear-gradient(90deg, #e79494 0%, #e9c4ad 100%);
  border-radius: 16px;
  width: -webkit-fill-available;
  padding: 10px;
}
.btn_container {
  display: flex;
  justify-content: center;
  position: relative;
  top: 75px;
  padding: 0px 12px;
}
.cafe-logo {
  display: flex;
  justify-content: center;
  background: #ffffff;
  position: absolute;
  width: 110px;
  height: 110px;
  box-shadow: 0px 12px 30px rgba(74, 33, 4, 0.25);
  border-radius: 100px;
  top: calc(0% - 55px);
  left: 38%;
}
.logo {
  padding: 5px 13px 10px 26px;
}
